* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: url('img/theme-sasun-bughdaryan.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.head-clinic {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: url('img/head-2-img-marcelo-leal.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.head-hour {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: url('img/hour-martha-dominguez.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-img {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

nav {
    padding-top: 19px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

a {
    position: relative;
    text-decoration: none;
    color: #222;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #0e470d;
}

a:before,
a:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 5px;
    width: 0;
    background-color: #1D951B;
    transition: .5s;
}

a:after {
    left: 0;
    bottom: -10px;
}

a:before {
    right: 0;
    top: -10;
}

a:hover:after,
a:hover:before {
    width: 100%;
}

.initial-article h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #1D951B;
}

.initial-article {
    padding: 90px 10px 0px 50px;
    margin-top: 200px;
}

.img-inicial {
    width: 700px;
    margin-right: 30px;
}

.family {
    max-height: 800px;
    margin-top: 50px;
    border-radius: 50%;
}

.first-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
    height: 140vh;
}

.article-img {
    float: left;
    display: inline;
    width: 180px;
    margin: 20px 10px
}

.text-article-1 {
    margin: 20px 10px;
}

.first-article{
    background-color: #b2e4b127;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    height: 880px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

.first-article h2 {
    text-align: center;
    color: #1D951B;
    padding: 10px;
}

.second-article {
    background-image: url(img/atention-alexandr-podvalny.jpg);
    background-position: center center;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 880px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

.second-article h2 {
    text-align: center;
    color: #1D951B;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: left;  
    margin-top: 30px;
    padding: 50px;
    background-color: #1D951B;
}

.second-footer {
    display: grid;
    margin-left: 105px;
}

.icons {
    margin-top: 15px;
    max-height: 20px;
} 

.page-1, .page-2, .page-3, .page-4 {
    opacity: 0;
    animation: fadeIn 1.75s ease-in-out forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.table-head-2 {
    background-color: black;
    color: #1D951B;
    padding: 6px;
}
